:root{
    --color1: #00c23a;
    --blackColor: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body{
    background-color: var(--blackColor);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

header .logo{
    margin-left: 5px;
    margin-top: 5px;
}

header nav a{
    text-decoration: none;
    color: rgb(219, 217, 217);
    margin-right: 10px;
    padding: 10px;
}

header nav a:hover{
    color: rgb(255, 255, 254);
}


/*filme principal*/

.filmePrincipal {
    font-size: 16px;

    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)100%), url('../img/pie.jpg');

    height: 700px;
    background-size: cover;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.95);

    transition: 0.9s ease all;
}

.filmePrincipal:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)100%), url('../img/pie.jpg');
    background-size: cover;

}

.filmePrincipal .description{
    margin-top: 10px;
    margin-bottom: 80px;
}

.filmePrincipal .titleh3{
    margin-top: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;    
}



.button{
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
    border: none;
    border-radius: 3px;

    padding: 15px 20px;
    margin-right: 15px;
    font-size: 14px;

    font-weight: 700;

    cursor: pointer;
    transition: 0.4s ease all;  
}

.button i{
    margin-right: 10px;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.30);
    color: white;
}


.button:first-of-type{
    background-color: rgba(255, 250, 240, 0.85);
    color: var(--blackColor);
}

.button:first-of-type:hover{
    background-color: rgba(255, 250, 240, 0.63);
}


.container{
    margin-left: 20px;
}

.filmePrincipal .container{
    width: 70%;
}

#sendYours{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sendYours div{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;

    font-size: 1.2em;
}

div input,textarea{
    padding: 7px;
}

/* carousel */

div h3{
    font-size: 29px;
    pad: 10px;
    margin: 0px 0px 5px 30px;
}

.doces{
    margin-top: 30px;
}

.boxFilm{
    width: 100%;
    height: 100%;
    display: block;
    opacity: 85%;
}

.boxFilm:hover{
    opacity: 100%;
}

.carouselFilms{
    margin-top: 5px;
}



/* responsividade */

@media screen and (max-width:700px) {
    header .container{
        display: flex;
        flex-flow: column wrap;        
    }

    .button{
        margin-top: 5px;
        width: 130px;
        font-size: 9px;
    }
}

@media screen and (max-width: 450px) {
    header nav a{
        margin-right: 0;
        padding: 5px;
    }
}

@media screen and (min-width: 1000px){
    .description{
        width: 50%;
    }
}
